*{
    box-sizing: border-box;
}
h1{
    color: rgb(181, 162, 249);
    background-color:white;
}
body{
    margin: 10px ;
    border: 1px solid rgb(180, 123, 237);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    font-size: 20px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="address"],
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #63098f;
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(210, 133, 240);
}
.pura{
    /* background-color: rgb(229, 185, 255); */
    padding: 5px 20px 15px 20px;
    border: 1px solid rebeccapurple;
    border-radius: 4px;
}
.end{
    background-color: white;
    color: aquamarine;
}
input[type="submit"]{
    background-color: #7bd8ec;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor:zoom-in;
    width: 100%;
}
input[type="submit"]:hover{
    background-color:rgb(193, 122, 241) ;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="address"]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}
